
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
</head>
<body>
    <div> 
        <fieldset>
            <legend>Calculate Simple Interest</legend>
            @using (Ajax.BeginForm("CalculateSimpleInterestResult", "CalculateSimpleInterest",
                            new AjaxOptions { UpdateTargetId = "divInterestDeatils" }))
            {
                <div id="divInterestDeatils"></div>
                <ol>
                    <li>
                        @Html.Label("Amount")
                        @Html.TextBox("txtAmount")
                    </li>
                    <li>
                        @Html.Label("Rate")
                        @Html.TextBox("txtRate")
                    </li>
                    <li>
                        @Html.Label("Year")
                        @Html.TextBox("txtYear")
                    </li>
                </ol>
                <button>Calculate</button>
            }
        </fieldset>
    </div>
</body>
</html>
